.container{
    background-color: #1A0B2E;
    font-family: "Inter", sans-serif;
   font-optical-sizing: auto;
}
section{
    max-width: 1600px;
    width: 100%;
    margin: 0px auto;
}
.logo p{
    color: white;
}
.logo span{
    background: linear-gradient(225deg,#9100F8,#FB09B4,#F7E93F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-menu{
    display: flex;
    margin: 0px auto;
    justify-content: space-between;
    align-items: center;
    max-height: 92px;
    max-width: 80%;
}
.logo{
    font-weight:bold ;
    font-size: 32px;
}

.nav-links ul{
    display: flex;
    list-style: none;
    gap: 40px;
    font-size: 16px;
    font-weight: 500px;
    line-height: 120px
    width: 219px;
}

.nav-links a{
    text-decoration: none;
    color: white;
}

.btn{
    margin: 12px 16px;
    align-items: center;
    width: 135px;
    height: 44px;
    border-radius: 10000px;
    background:linear-gradient(225deg,#9100F8,#FB09B4,#F7E93F);
    color: white;
    font-size: 16px;
    font-weight: 600px ;
}
.header{
    background: url("assets/hero-bg.png");
    background-position: center;
    width: 100%;
  
}
.header-container{
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: space-around;
}

.img1{
    margin-top: 170px;
    margin-bottom: 121px;
}

.header-text h1{
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 60px;
    font-weight: bolder;
}
.header-text p{
    text-align: center;
    margin-top: 8px;
    color: white;
    font-size: 16px;
    opacity: 80%;
}
.button{
    display: flex;
    margin-top: 24px;
    justify-content: center;
    margin: inherit;
    margin-bottom:101px;
}
.first-btn{
    margin: 12.5px 20px 12.5px 47px;
    width: 59%;
    height: 44px;
    border-radius: 10000px;
    background:linear-gradient(225deg,#9100F8,#FB09B4,#F7E93F);
    color: white;
    font-size: 16px;
    font-weight: 600px ;
    justify-content: center;
}
.second-btn{
    margin-top: 14px;
    width:201px;
    height: 42px;
    border-radius: 10000px;
    border: 1px solid #00FF88;
    background-color: transparent;
    color: #00FF88;
    font-size: 16px;
    font-weight: 600px ;
    justify-content: center;
}
.about{
    width: 75%;
    max-width: 1200px;
    text-align: center;
    margin: 0px auto;
}
.about-info{
    margin-top: 50px;
}
.about-info h1{
    font-size: 48px;
    font-weight: bold;
    color: white;
}
.about-info p{
    margin-top: 16px;
    font-size: 16px;
    line-height: 20px;
    color: white;
    opacity: 80%;
}
hr{
    border: 1px solid gray;
    margin: 80px 0px;
}

.cards{
    display: flex;
    justify-content: space-between;
    margin: 0px 40px;
    margin-bottom: 120px;
}
.card-info h1{
    font-size: 48px;
    font-weight: 900px;
    color: #00FF88;
    margin-bottom: 16px;
}
.card-info p{
    font-size: 16px;
    color: white;
    opacity: 80%;
}
.main-container{
    background-color: #230E3D;
    width: 100vw;
}
.choose-container{
    width: 75%;
    max-width: 1200px;
    margin: 0px auto;
    padding: 120px 200px;
}
.choose h1{
    width: 60%;
    text-align: center;
    margin: 0px auto 40px;
    font-size: 48px;
    font-weight: bold;
    color: white;
}
.choose-grid>*{
    border: 1px solid #351165;
    border-radius: 40px;
    background-color: #351165;
}
.grid-info-fi{
    grid-area: fi;
    width: 360px;
    height: 480px;
}
.grid-info-se{
    grid-area: se;
    width: 790px;
    height: 225px;
}
.grid-info-th{
    grid-area: th;
    width: 790px;
    height: 225px;
}
.grid-info-fo{
    grid-area: fo;
    width: 790px;
    height: 273px;
}
.grid-info-fiv{
    grid-area: fiv;
    width: 380px;
    height: 273px;
}
.choose-grid{
    color: white;
    display: grid;
    gap: 30px;
    grid-template-areas:
    "fi se se"
    "fi th th"
    "fo fo fiv";
}
.choose-grid img,i{
    margin-left: 40px;
}
.grid-info-fi img{
    margin-top: 107.5px;
}
.grid-info-th img,.grid-info-se img,.grid-info-fo img,.grid-info-fiv img{
    margin-top: 40px ;
}
.choose-grid h3{
    font-size: 24px;
    font-weight: bold;
    margin: 16px 40px;
}
.choose-grid p{
    padding: 0px 40px;
    font-size: 16px;
    opacity: 60%;
}
.featured{
    background: #1A0B2E;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 120px 0;
}
.featured-epi h4{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 40px;
    color: white;
}
.episode{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 120px;
}
.epi-card{
    width: 380px;
    background: #250D44;
    border-radius: 20px;

}
.epi-card iframe{
    width: 100%;
    height: 214px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.epi-info{
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 24px;
}
.epi-info h5{
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin: 0px 0px;
}
.epi-info .middle{
    font-size: 16px;
    line-height: 24px;
    opacity: 60%;
    color: white;
}
.epi-info .time{
    color: #00FF88;
    font-weight: 600;
}

