nav{
    background-color: #412567;
    margin: 0px;
}
.logo p{
    color: white;
}
.logo span{
    background: linear-gradient(225deg,#9100F8,#FB09B4,#F7E93F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-menu{
    display: flex;
    margin: 0px auto;
    justify-content: space-evenly;
    align-items: center;
}
.logo{
    font-weight:bold ;
    font-size: 40px;
}

.nav-links ul{
    display: flex;
    list-style: none;
    gap: 40px;
    font-size: 16px;
    font-weight: 500px;
    line-height: 120px
}

.nav-links a{
    text-decoration: none;
    color: white;
}

.nav-btn button{
    margin: 12px 16px;
    align-items: center;
    width: 135px;
    height: 44px;
    border-radius: 10000px;
    background:linear-gradient(225deg,#9100F8,#FB09B4,#F7E93F);
    color: white;
    font-size: 16px;
    font-weight: 600px ;
}
