nav{
    background-color: #1A0B2E;
}

.logo p{
    color: white;
}
.logo span{
    background: linear-gradient(225deg,#9100F8,#FB09B4,#F7E93F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-menu{
    display: flex;
    margin: 0px auto;
    justify-content: space-evenly;
    align-items: center;
}
.logo{
    font-weight:bold ;
    font-size: 40px;
}

.nav-links ul{
    display: flex;
    list-style: none;
    gap: 40px;
    font-size: 16px;
    font-weight: 500px;
    line-height: 120px
    width: 219px;
}

.nav-links a{
    text-decoration: none;
    color: white;
}

.btn{
    margin: 12px 16px;
    align-items: center;
    width: 135px;
    height: 44px;
    border-radius: 10000px;
    background:linear-gradient(225deg,#9100F8,#FB09B4,#F7E93F);
    color: white;
    font-size: 16px;
    font-weight: 600px ;
}
.header{
    background: url("assets/hero-bg.png");
    background-position: center;
    background-repeat: no-repeat;
}
.header-container{
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: space-around;
}

.img1{
    margin: 170px 700px 121px 700px;
    position: relative;
}

.img2{
    margin: 101px 625px 40px 625px;
    position: absolute;
}

.header-text h1{
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 60px;
    font-weight: bolder;
}
.header-text p{
    text-align: center;
    margin-top: 8px;
    color: white;
    font-size: 16px;
}
.button{
    margin-top: 24px;
    justify-content: center;
    margin: inherit;
}
.first-btn{
    margin: 12.5px 20px 12.5px 48px;
    width: 201px;
    height: 44px;
    border-radius: 10000px;
    background:linear-gradient(225deg,#9100F8,#FB09B4,#F7E93F);
    color: white;
    font-size: 16px;
    font-weight: 600px ;
    justify-content: center;
}
.second-btn{
    margin: 12.5px 20px 12.5px 48px;
    width: 145px;
    height: 42px;
    border-radius: 10000px;
    border: 1px solid #00FF88;
    background-color: transparent;
    color: #00FF88;
    font-size: 16px;
    font-weight: 600px ;
    justify-content: center;
}

